:root {
    --primary: #8480ff;
    --secondary: #80ff84;
    --accent: #ff8480;
}

body {
    background-color: var(--primary);
    color: var(--accent);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 98%;

}
.mainContent{
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-self: center;
    margin: 3vh;
}
#confirmed {
    text-align: center;
    font-size: 6vh;
    margin: 10px;
}
.content {
    margin: 1.5vh auto;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
form {
    height: fit-content;
    margin: auto;
}
input, button{
    background-color: var(--secondary);
    color: var(--accent);
    border-width: 1.75vh;
    border-color: var(--secondary);
    border-style: solid;
    cursor: pointer;
    transition-duration: .5s;
    margin: .85vh auto;
    border-radius: 25px;
    font-weight: bold;
}
input[type=date]{
    max-width: 45vh;
    height: fit-content;
    width:95%;
    font-size: 4.25vh;
    text-align: center;
}
button[type="submit"] {
    max-width: 80vh;
    height: fit-content;
    width:95%;
    font-size: 7.5vh;
    padding: .75vw 1vw 1vw 1vw;
}
.link{
    background-color: var(--secondary);
    max-width: 30vh;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    border-width: 1.5vh;
    border-color: var(--secondary);
    border-style: solid;
    transition-duration: .5s;
    padding: 1vh;
    margin: .85vh auto;
}
a:link, a:visited{
    text-align: center;
    font-weight: bold;
    font-size: 2.5vh;
    cursor: pointer;
    color: var(--accent);
    text-decoration:none;
}
input:hover, .link:hover, button:hover{
    border-color: var(--accent);
    border-style: solid;
}
input:active, .link:active, button:active {
    border-color: var(--accent);
    border-style: solid;
}

table{
    border-collapse: collapse;
    color: black;
}
tr:nth-child(even){background-color: #b4ffb7;}
th{background-color: var(--accent);}
td, th{
    padding-right: 1vw;
    text-align: center;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    margin: 0px;
}
.tablediv{
    border-radius: 20px;
    background-color: var(--secondary);
    padding: 2.5vh;
    height: fit-content;
    width: fit-content;
}